%h1
  Oct 7 2011 to Oct 7 2012.

.row
  .span12
    <h2>Officers</h2>
    
.row
  .span2
    <h4>Name</h>
  .span1
    title
  .span1
    percent ownership
  .span2
    duties
  .span1
    state
  .span1
    total
- i = 0
- total = 0
- exclude = ['MARCCONDON','SHEREENEOH']
- @audit.each do |emp|
  - if emp.total >0 && exclude.include?(emp.name.rstrip())
    - total = total + emp.total
    .row
      .span2
        =link_to emp.namedisplay, edit_audit_path( :id =>emp.id )
      .span1
        =emp.title
      .span1
        =emp.percent
      .span2
        =emp.duties
      .span1
        =emp.state
      .span2.1.left
        = sprintf("%05.2f", emp.total)

.row	
  .span3
    =''
  .span2
    =''
  .span5.left
    <h4>Total Officer Salary = $
    = sprintf("%05.2f", total)
    <h4>

.row
  .span12
    <h2>Employees</h2>
.row
  .span3
    name display
  .span3
    title
  .span4
    duties
  .span1
    state
  .span1.left
    total
- states = ['AZ','CA','MO','NJ','TX']
- statetotals = Hash.new()
- totaltotals =0
- states.each do |state|
  - statetotals[state]=0
  - @audit.each do |emp|
    - if emp.total >0 && !exclude.include?(emp.name.rstrip()) && emp.state.rstrip() == state
      - statetotals[state] = statetotals[state] + emp.total

- states.each do |state|
  - @audit.each do |emp|
    - if emp.total >0 && !exclude.include?(emp.name.rstrip())&& emp.state.rstrip() == state
      - totaltotals = totaltotals + emp.total
      .row
        .span3
          =link_to emp.namedisplay, edit_audit_path( :id =>emp.id )
        .span3
          =emp.title
        .span4
          =emp.duties
        .span1
          =emp.state
        .span1.left
          = "%05.2f"%  emp.total	

  .row	
    .span3
      =''
    .span3
      =''
    .span6.left
      <h4>
      = state+' Total'
      = "%05.2f"% statetotals[state]	
      </h4>
      

.row	
  .span4
    = ''
  .span8.left
    <h4>Total Non Officer Pay
    = "%05.2f"%  totaltotals     
    </h4>    